<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/Users/shrinivaslondhe/Desktop/APIAutomation/src/test/java/Tests/TestCases"><classes><class name="Tests.TestCases.TestCasesLifeStyle"><methods><include name="getTocanLifeStyle"/><include name="createQuoteLifeStyle"/><include name="premiumResultIdLifeStyle"/><include name="createProposalLifeStyle"/><include name="transactionFlowLifeStyle"/><include name="cancellationLifeStyle"/></methods></class><class name="Tests.TestCases.TestCasesTravel"><methods><include name="getTocanTravel"/><include name="createQuoteTravel"/><include name="premiumResultIdTravel"/><include name="createProposalTravel"/><include name="transactionFlowTravel"/><include name="cancellationTravel"/></methods></class></classes></test></suite>